RoseHulman-Android-App/.settings/
RoseHulman-Android-App/settings
RoseHulman-Android-App/assests
RoseHulman-Android-App/bin
RoseHulman-Android-App/gen
*.class
# Package Files #
*.jar
*.war
*.ear
Testing/HelpTest/.settings/
Testing/HelpTest/settings
Testing/HelpTest/assests
Testing/HelpTest/bin
Testing/HelpTest/gen
